.p-8 {
    padding: 8px;
}
.p-16 {
    padding: 16px;
}
.p-24 {
    padding: 24px;
}
.p-32 {
    padding: 32px;
}
.p-40 {
    padding: 40px;
}
.p-48 {
    padding: 48px;
}
.p-56 {
    padding: 56px;
}
.p-64 {
    padding: 64px;
}
.p-72 {
    padding: 72px;
}
.p-80 {
    padding: 80px;
}
.p-88 {
    padding: 88px;
}
.p-96 {
    padding: 96px;
}
.p-100 {
    padding: 100px;
}
.p-110 {
    padding: 110px;
}
.p-120 {
    padding: 120px;
}

///////////////////
///////////////////
///PADDING BOTTOM///
///////////////////
///////////////////


.pb-8 {
    padding-bottom: 8px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-48 {
    padding-bottom: 48px;
}
.pb-56 {
    padding-bottom: 56px;
}
.pb-64 {
    padding-bottom: 64px;
}
.pb-72 {
    padding-bottom: 72px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-88 {
    padding-bottom: 88px;
}
.pb-96 {
    padding-bottom: 96px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-110 {
    padding-bottom: 110px;
}
.pb-120 {
    padding-bottom: 120px;
}

///////////////////
///////////////////
///PADDING TOP///
///////////////////
///////////////////



.pt-8 {
    padding-top: 8px;
}
.pt-16 {
    padding-top: 16px;
}
.pt-24 {
    padding-top: 24px;
}
.pt-32 {
    padding-top: 32px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-48 {
    padding-top: 48px;
}
.pt-56 {
    padding-top: 56px;
}
.pt-64 {
    padding-top: 64px;
}
.pt-72 {
    padding-top: 72px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-88 {
    padding-top: 88px;
}
.pt-96 {
    padding-top: 96px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-110 {
    padding-top: 110px;
}
.pt-120 {
    padding-top: 120px;
}

///////////////////
///////////////////
///PADDING LEFT///
///////////////////
///////////////////


.pl-8 {
    padding-left : 8px;
}
.pl-16 {
    padding-left : 16px;
}
.pl-24 {
    padding-left : 24px;
}
.pl-32 {
    padding-left : 32px;
}
.pl-40 {
    padding-left : 40px;
}
.pl-48 {
    padding-left : 48px;
}
.pl-56 {
    padding-left : 56px;
}
.pl-64 {
    padding-left : 64px;
}
.pl-72 {
    padding-left : 72px;
}
.pl-80 {
    padding-left : 80px;
}
.pl-88 {
    padding-left : 88px;
}
.pl-96 {
    padding-left : 96px;
}
.pl-100 {
    padding-left : 100px;
}
.pl-110 {
    padding-left : 110px;
}
.pl-120 {
    padding-left : 120px;
}


///////////////////
///////////////////
///PADDING RIGHT ///
///////////////////
///////////////////


.pr-8 {
    padding-right: 8px;
}
.pr-16 {
    padding-right: 16px;
}
.pr-24 {
    padding-right: 24px;
}
.pr-32 {
    padding-right: 32px;
}
.pr-40 {
    padding-right: 40px;
}
.pr-48 {
    padding-right: 48px;
}
.pr-56 {
    padding-right: 56px;
}
.pr-64 {
    padding-right: 64px;
}
.pr-72 {
    padding-right: 72px;
}
.pr-80 {
    padding-right: 80px;
}
.pr-88 {
    padding-right: 88px;
}
.pr-96 {
    padding-right: 96px;
}
.pr-100 {
    padding-right: 100px;
}
.pr-110 {
    padding-right: 110px;
}
.pr-120 {
    padding-right: 120px;
}