.bg_gradient{
background: rgb(47,166,143);
background: linear-gradient(0deg, rgba(47,166,143,0.7497373949579832) 0%, rgba(34,179,151,0.5956757703081232) 30%, rgba(38,175,148,0.19511554621848737) 60%, rgba(25,188,156,0.09987745098039214) 100%);
}

.color_button{
    background-color: #409584;
    font-size: 1.2em;
    color: $white;
}

.color_button:hover{
background-color: #26af94;
color: $white;
}

.c_border{
    border-color: #409584;
}
.check-responsive {
    width: 15%;
}
.c_grey{
    color: #627370;
}

.c_green{
    color: #409584;
}
.h_90_vh{
    height: 90vh;
}
.rounded_lg{
    border-radius: 15px;
}

.rounded_top{
    border-radius: 15px 15px 0 0 !important;
}

.bg_toggler{
    background-color: rgba(25, 188, 155, 0.322) !important;
}

.img_toggler{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}


//media-query

@media screen and (max-width:1200px) {
    .check-responsive {
        width: 25%;
    }
}

@media screen and (max-width:800px) {
    .check-responsive {
        width: 33%;
    }
}

@media screen and (max-width:640px) {
    .check-responsive {
        width: 50%;
    }

    .form-check {
        height: 250px;
        overflow-y: auto;
    }

    .form-check::-webkit-scrollbar,
    .form-check::-webkit-scrollbar {
        width: 0.4em;
    }

    .form-check::-webkit-scrollbar-track,
    .form-check::-webkit-scrollbar-track {

        box-shadow: inset 0 0 2px grey;
        border-radius: 1em;
    }
    
    .form-check::-webkit-scrollbar-thumb,
    .form-check::-webkit-scrollbar-thumb {
        background: #26af94; 
        border-radius: 1em;
    }

    .form-check::-webkit-scrollbar-thumb:hover,
    .form-check::-webkit-scrollbar-thumb:hover {
        background: #409584; 
    }
}

@media screen and (max-width:440px) {
    // .check-responsive {
    //     width: 50%;
    // }
    form{
        h4 {
            font-size: 1.2em;
        }
    }

    .form-check {

        label {
            font-size: 0.8em;
        }
    }

}

