.containerDue{
    width: 90%;
    margin: 0 auto;
}

.scroller {
    overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

  .gray-14{
    color: #51847a;
  }

  .gray-20{
    color: #6b6b6b;
  }

  .gray-20-hover:hover{
    color: #6b6b6b;
  }

  .bg-green{
    background: rgb(47,166,143);
    background: linear-gradient(90deg, rgba(47,166,143,0.8463760504201681) 0%, rgba(34,179,151,0.6979166666666667) 30%, rgba(38,175,148,0.4990371148459384) 60%, rgba(25,188,156,0.39539565826330536) 100%);

  }

  .bg-green-2{
    background: rgb(48, 216, 182);
  }

  .bg-green-custom{
    background-color: #19bc9bb6;
  }

  .bg-green-5{
    background-color: #2aab91;
  }

  .bg-green-2{
    background-color: #1dc3a244;
  }

  .b-left-radius{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .b-right-radius{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .b-left-radius-2{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .b-right-radius-2{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .underline{
    text-decoration: underline;
  }

  .b-1{
    border: 1px solid #6b6b6b;
}

.b-2{
    border: 1px solid #6b6b6b0f;
    background-color: #6b6b6b0f;
    width: 100%;
    margin: 0 auto;
}

.btn-hover:hover{
    opacity: 0.5;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.w_25{
    width: 25px;
}

.greenAndBorder{
    color: rgb(47,166,143);
    border: hidden black;
}
.th {
    font-weight: lighter!important;
}

.sidenav {
    width: 100%;
    height: 30%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 150px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px;
  }

  .sidenav div:hover {
    color: #064579;
  }


  @media screen and (max-width: 992px) {
    .media-screen-d-none{
        display: none!important;
    }
  }

  @media screen and (max-width:769px) {
    .media-screen-flex-column{
        flex-direction: column-reverse;
    }
  }

  @media screen and (max-width:769px) {
    .media-screen-pos-static{
        position: static;
    }
  }

  @media screen and (max-width:769px) {
    .media-screen-d-flex-jus-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

  @media screen and (max-width:769px) {
    .media-screen-text-center{
        text-align: center;
        text-align: center;
    }

    .media-screen-width-75{
        width: 75%!important;
    }

    .media-screen-justify-center{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .media-screen-flex-column-normal{
        flex-direction: column;
        align-items: center;
    }

    .media-screen-flex-column-just-around{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .media-screen-d-block{
        display: block!important;
    }

    .sidenav {
        padding-top: 15px;
    }

    .media-screen-w-50{
        width: 50%;
    }

    .media-screen-width-100{
        width: 100%!important;
        text-align: center;
    }

  }

  @media screen and (max-width: 600px) {
    .media-screen-width-50{
        width: 50%;
    }

    .media-screen-img-right-border{
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;
    }
  }

  @media screen and (min-width: 2707px) {
    #map,
    .hab-img {
        height: 70vh;
    }

  }

  @media screen and (max-width: 2706px) {
    #map,
    .hab-img {
        height: 55vh;
    }

  }

  @media screen and (max-width: 2561px) {
    #map,
    .hab-img {
        height: 50vh;
    }

  }


  @media screen and (max-width: 1025px) {
    #map,
    .hab-img {
        height: 27vh;
    }

  }

  @media screen and (max-width: 768px) {
    #map,
    .hab-img {
        height: 25vh;
    }

  }

  @media screen and (max-width:600px) {
    #map,
    .hab-img {
        height: 20vh;
    }
}

  @media screen and (max-width: 321px) {
    #map,
    .hab-img {
        height: 12vh;
    }

    @media screen and (max-width: 375px) {
        #map,
        .hab-img {
            height: 14vh;
        }
    }

  }


// .modal-header {
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     padding: 1rem 1rem;
//     border-bottom: 1px solid #dee2e6;
//     border-top-left-radius: calc(0.3rem - 1px);
//     border-top-right-radius: calc(0.3rem - 1px);
// }

